Repository ansys/pydyna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- setup.py
dependencies:
- requirements/**/*
- requirements_docs.txt
- requirements_test.txt
testing:
- _unittest/conftest.py

Renaming imports to ansys.dyna.core and removing sys.path.append() statements
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/Resources/pydyna_solver.rst
  doc/source/conf.py
  examples/Airbag/airbag_deploy.py
  examples/Coupling/wing.py
  examples/EM/em_railgun.py
  examples/Explicit/belted_dummy.py
  examples/ICFD/icfd_cylinderflow.py
  examples/IGA/iga_sample.py
  examples/ISPH/rigidtest.py
  examples/Implicit/camry_rc.py
  examples/Implicit/camry_rc_data.py
  examples/NVH/frf_plate_damping.py
  examples/SALE/sale_efp.py
  examples/solver/client.py
  examples/solver/runjob_example.py
  pyproject.toml
  requirements/python36/requirements.txt
  requirements/python38/requirements.txt
  requirements/python39/requirements.txt
  requirements_docs.txt
  requirements_test.txt
  setup.py
  src/ansys/dyna/core/__init__.py
  src/ansys/dyna/core/_version.py
  src/ansys/dyna/core/solver/__init__.py
  src/ansys/dyna/core/solver/_version.py
  tests/conftest.py
  tests/test_dynabase.py
  tests/test_dynadem.py
  tests/test_dynaem.py
  tests/test_dynaicfd.py
  tests/test_dynaiga.py
  tests/test_dynaisph.py
  tests/test_dynamech.py
  tests/test_dynanvh.py
  tests/test_dynasale.py
  tests/test_dynasolution.py
Labels: documentation, maintenance, dependencies

Solving pyproject.toml issues
  pyproject.toml
Labels: none

Solving pyproject.toml issues
  pyproject.toml
Labels: none

Missing import adaptation
  tests/conftest.py
Labels: none

Missing import adaptation
  tests/conftest.py
Labels: none

Removing unnecessary PATH insert
  doc/source/conf.py
Labels: documentation

Removing unnecessary PATH insert
  doc/source/conf.py
Labels: documentation

Updating pre-commit calls
  .pre-commit-config.yaml
  ignore_words.txt
  src/ansys/dyna/core/__init__.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynamaterial.py
  src/ansys/dyna/core/pre/dynasale.py
Labels: none

Updating pre-commit calls
  .pre-commit-config.yaml
  ignore_words.txt
  src/ansys/dyna/core/__init__.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynamaterial.py
  src/ansys/dyna/core/pre/dynasale.py
Labels: none

Solving warnings in import statements
  src/ansys/dyna/core/pre/Server/kwserver.py
Labels: none

Solving warnings in import statements
  src/ansys/dyna/core/pre/Server/kwserver.py
Labels: none

Improving version mechanism
  .gitignore
  src/ansys/dyna/core/__init__.py
Labels: none

Improving version mechanism
  .gitignore
  src/ansys/dyna/core/__init__.py
Labels: none

Delete setup.py file
  setup.py
Labels: maintenance

Delete setup.py file
  setup.py
Labels: maintenance

Updating workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

Updating workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

Broken link
  README.rst
Labels: documentation

Broken link
  README.rst
Labels: documentation

Deleting _version file
  src/ansys/dyna/core/_version.py
Labels: none

Deleting _version file
  src/ansys/dyna/core/_version.py
Labels: none

Cache dependency path for doc stage
  .github/workflows/ci_cd.yml
Labels: maintenance

Cache dependency path for doc stage
  .github/workflows/ci_cd.yml
Labels: maintenance

Solving documentation build issues
  doc/source/API/pre.rst
  doc/source/API/solver.rst
  src/ansys/dyna/core/post/__init__.py
  src/ansys/dyna/core/solver/__init__.py
Labels: documentation

Solving documentation build issues
  doc/source/API/pre.rst
  doc/source/API/solver.rst
  src/ansys/dyna/core/post/__init__.py
  src/ansys/dyna/core/solver/__init__.py
Labels: documentation

Removing module names from documentation
  doc/source/API/pre.rst
  doc/source/API/solver.rst
  doc/source/conf.py
Labels: documentation

Removing module names from documentation
  doc/source/API/pre.rst
  doc/source/API/solver.rst
  doc/source/conf.py
Labels: documentation

Remove commands
  doc/source/conf.py
Labels: documentation

Remove commands
  doc/source/conf.py
Labels: documentation

make examples follow the pyansys coding scheme
  examples/Airbag/airbag_deploy.py
  examples/Coupling/wing.py
  examples/EM/em_railgun.py
  examples/Explicit/belted_dummy.py
  examples/ICFD/icfd_cylinderflow.py
  examples/IGA/iga_sample.py
  examples/ISPH/rigidtest.py
  examples/Implicit/camry_rc.py
  examples/NVH/frf_plate_damping.py
  examples/SALE/sale_efp.py
Labels: none

make examples follow the pyansys coding scheme
  examples/Airbag/airbag_deploy.py
  examples/Coupling/wing.py
  examples/EM/em_railgun.py
  examples/Explicit/belted_dummy.py
  examples/ICFD/icfd_cylinderflow.py
  examples/IGA/iga_sample.py
  examples/ISPH/rigidtest.py
  examples/Implicit/camry_rc.py
  examples/NVH/frf_plate_damping.py
  examples/SALE/sale_efp.py
Labels: none

reformat code
  examples/Airbag/airbag_deploy.py
  examples/Coupling/wing.py
  examples/Coupling/wing_data.py
  examples/EM/em_railgun.py
  examples/EM/em_railgun_data.py
  examples/Explicit/belted_dummy.py
  examples/Explicit/belted_dummy_data.py
  examples/ICFD/icfd_cylinderflow.py
  examples/IGA/iga_sample.py
  examples/IGA/iga_sample_data.py
  examples/ISPH/rigidtest.py
  examples/Implicit/camry_rc.py
  examples/Implicit/camry_rc_data.py
  examples/NVH/frf_plate_damping.py
  examples/SALE/sale_efp.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynaem.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/dynaisph.py
  src/ansys/dyna/core/pre/dynamaterial.py
  src/ansys/dyna/core/pre/dynamech.py
  src/ansys/dyna/core/pre/dynasale.py
  src/ansys/dyna/core/pre/dynasolution.py
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/conftest.py
  tests/test_dynabase.py
  tests/test_dynadem.py
  tests/test_dynaem.py
  tests/test_dynaicfd.py
  tests/test_dynaiga.py
  tests/test_dynaisph.py
  tests/test_dynamech.py
  tests/test_dynanvh.py
  tests/test_dynasale.py
  tests/test_dynasolution.py
Labels: none

reformat code
  examples/Airbag/airbag_deploy.py
  examples/Coupling/wing.py
  examples/Coupling/wing_data.py
  examples/EM/em_railgun.py
  examples/EM/em_railgun_data.py
  examples/Explicit/belted_dummy.py
  examples/Explicit/belted_dummy_data.py
  examples/ICFD/icfd_cylinderflow.py
  examples/IGA/iga_sample.py
  examples/IGA/iga_sample_data.py
  examples/ISPH/rigidtest.py
  examples/Implicit/camry_rc.py
  examples/Implicit/camry_rc_data.py
  examples/NVH/frf_plate_damping.py
  examples/SALE/sale_efp.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynaem.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/dynaisph.py
  src/ansys/dyna/core/pre/dynamaterial.py
  src/ansys/dyna/core/pre/dynamech.py
  src/ansys/dyna/core/pre/dynasale.py
  src/ansys/dyna/core/pre/dynasolution.py
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/conftest.py
  tests/test_dynabase.py
  tests/test_dynadem.py
  tests/test_dynaem.py
  tests/test_dynaicfd.py
  tests/test_dynaiga.py
  tests/test_dynaisph.py
  tests/test_dynamech.py
  tests/test_dynanvh.py
  tests/test_dynasale.py
  tests/test_dynasolution.py
Labels: none

clear warning for pre-commit
  doc/source/conf.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  tests/conftest.py
  tests/test_dynabase.py
  tests/test_dynadem.py
  tests/test_dynaem.py
  tests/test_dynaicfd.py
  tests/test_dynaiga.py
  tests/test_dynaisph.py
  tests/test_dynamech.py
  tests/test_dynanvh.py
  tests/test_dynasale.py
  tests/test_dynasolution.py
Labels: documentation

clear warning for pre-commit
  doc/source/conf.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  tests/conftest.py
  tests/test_dynabase.py
  tests/test_dynadem.py
  tests/test_dynaem.py
  tests/test_dynaicfd.py
  tests/test_dynaiga.py
  tests/test_dynaisph.py
  tests/test_dynamech.py
  tests/test_dynanvh.py
  tests/test_dynasale.py
  tests/test_dynasolution.py
Labels: documentation

clear warning for pre-commit
  examples/Airbag/airbag_deploy.py
  examples/Coupling/wing.py
  examples/EM/em_railgun.py
  examples/Explicit/belted_dummy.py
  examples/ICFD/icfd_cylinderflow.py
  examples/IGA/iga_sample.py
  examples/ISPH/rigidtest.py
  examples/Implicit/camry_rc.py
  examples/NVH/frf_plate_damping.py
  examples/SALE/sale_efp.py
  examples/solver/runjob_example.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynaem.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/dynaisph.py
  src/ansys/dyna/core/pre/dynamaterial.py
  src/ansys/dyna/core/pre/dynamech.py
  src/ansys/dyna/core/pre/dynasale.py
  src/ansys/dyna/core/pre/dynasolution.py
Labels: none

clear warning for pre-commit
  examples/Airbag/airbag_deploy.py
  examples/Coupling/wing.py
  examples/EM/em_railgun.py
  examples/Explicit/belted_dummy.py
  examples/ICFD/icfd_cylinderflow.py
  examples/IGA/iga_sample.py
  examples/ISPH/rigidtest.py
  examples/Implicit/camry_rc.py
  examples/NVH/frf_plate_damping.py
  examples/SALE/sale_efp.py
  examples/solver/runjob_example.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynaem.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/dynaisph.py
  src/ansys/dyna/core/pre/dynamaterial.py
  src/ansys/dyna/core/pre/dynamech.py
  src/ansys/dyna/core/pre/dynasale.py
  src/ansys/dyna/core/pre/dynasolution.py
Labels: none

update document for dyna-pre
  doc/source/Resources/pydyna_pre.rst
Labels: documentation

update document for dyna-pre
  doc/source/Resources/pydyna_pre.rst
Labels: documentation

update thermal model
  examples/Thermal/README.txt
  examples/Thermal/thermal_stress.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynamaterial.py
  src/ansys/dyna/core/pre/dynamech.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/thermal/thermal_stress/thermal_stress.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/conftest.py
  tests/test_dynathermal.py
  tests/testfiles/initial/test_thermal_stress.k
  tests/testfiles/standard/mech.k
  tests/testfiles/standard/thermal_stress.k
Labels: none
