Repository ansys/pydyna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- setup.py
dependencies:
- requirements/**/*
- requirements_docs.txt
- requirements_test.txt
testing:
- _unittest/conftest.py

Adding private PyPI release (#104)
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/index.rst
Labels: documentation, maintenance

Adding private PyPI release (#104)
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/index.rst
Labels: documentation, maintenance

Bump version to 0.2.0
  README.rst
  pyproject.toml
Labels: documentation

Bump version to 0.2.0
  README.rst
  pyproject.toml
Labels: documentation

Bump version to 0.3.dev0
  README.rst
  pyproject.toml
Labels: documentation

Bump version to 0.3.dev0
  README.rst
  pyproject.toml
Labels: documentation

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

Allowing warnings
  doc/Makefile
Labels: none

Installing extra deps
  .github/workflows/ci_cd.yml
Labels: maintenance

Allowing PDF build for docs (#105)
  .github/workflows/ci_cd.yml
  doc/Makefile
Labels: maintenance

Allowing PDF build for docs (#105)
  .github/workflows/ci_cd.yml
  doc/Makefile
Labels: maintenance

Bump to version 0.2.1
  README.rst
  pyproject.toml
Labels: documentation

Bump to version 0.2.1
  README.rst
  pyproject.toml
Labels: documentation

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

Update ci_cd.yml (#106)
  .github/workflows/ci_cd.yml
Labels: maintenance

Update ci_cd.yml (#106)
  .github/workflows/ci_cd.yml
Labels: maintenance

add NVH model frf_solid
  doc/source/_static/pre/nvh/frf_column_hole.png
  examples/NVH/nvh_frf_solid.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynanvh.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/nvh/frf_solid/frf_solid.k
  tests/conftest.py
  tests/test_dynanvh.py
  tests/testfiles/initial/nvh/test_frf_plate_damping.k
  tests/testfiles/initial/nvh/test_frf_solid.k
  tests/testfiles/initial/test_nvh.k
  tests/testfiles/standard/nvh.k
  tests/testfiles/standard/nvh/frf_plate_damping.k
  tests/testfiles/standard/nvh/frf_solid.k
Labels: documentation

add NVH model frf_solid
  doc/source/_static/pre/nvh/frf_column_hole.png
  examples/NVH/nvh_frf_solid.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynanvh.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/nvh/frf_solid/frf_solid.k
  tests/conftest.py
  tests/test_dynanvh.py
  tests/testfiles/initial/nvh/test_frf_plate_damping.k
  tests/testfiles/initial/nvh/test_frf_solid.k
  tests/testfiles/initial/test_nvh.k
  tests/testfiles/standard/nvh.k
  tests/testfiles/standard/nvh/frf_plate_damping.k
  tests/testfiles/standard/nvh/frf_solid.k
Labels: documentation

Update conf.py
  doc/source/conf.py
Labels: documentation

Delete doc/source/_templates directory
  doc/source/_templates/autosummary/base.rst
  doc/source/_templates/autosummary/class.rst
  doc/source/_templates/custom-class-template.rst
  doc/source/_templates/custom-module-template.rst
  doc/source/_templates/sidebar-nav-bs.html
Labels: documentation

Adding back certan templates
  doc/source/_templates/autosummary/base.rst
  doc/source/_templates/autosummary/class.rst
  doc/source/_templates/custom-class-template.rst
  doc/source/_templates/custom-module-template.rst
Labels: documentation

Update conf.py
  doc/source/conf.py
Labels: documentation

Allowing docs upload even if no release
  .github/workflows/ci_cd.yml
Labels: maintenance

Allowing docs upload even if no release
  .github/workflows/ci_cd.yml
Labels: maintenance

Workflow only runs on release/0.2
  .github/workflows/ci_cd.yml
Labels: maintenance

Workflow only runs on release/0.2
  .github/workflows/ci_cd.yml
Labels: maintenance

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

fix implicitanalysis problem for camry_rc model,Adya reported
  examples/Implicit/camry_rc.py
Labels: none

fix implicitanalysis problem for camry_rc model,Adya reported
  examples/Implicit/camry_rc.py
Labels: none

Zhanqun/dyna prev4 (#119)
  doc/source/_static/pre/nvh/frf_column_hole.png
  examples/Implicit/camry_rc.py
  examples/NVH/nvh_frf_solid.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynanvh.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/nvh/frf_solid/frf_solid.k
  tests/conftest.py
  tests/test_dynanvh.py
  tests/testfiles/initial/nvh/test_frf_plate_damping.k
  tests/testfiles/initial/nvh/test_frf_solid.k
  tests/testfiles/initial/test_nvh.k
  tests/testfiles/standard/nvh.k
  tests/testfiles/standard/nvh/frf_plate_damping.k
  tests/testfiles/standard/nvh/frf_solid.k
Labels: documentation

Zhanqun/dyna prev4 (#119)
  doc/source/_static/pre/nvh/frf_column_hole.png
  examples/Implicit/camry_rc.py
  examples/NVH/nvh_frf_solid.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynanvh.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/nvh/frf_solid/frf_solid.k
  tests/conftest.py
  tests/test_dynanvh.py
  tests/testfiles/initial/nvh/test_frf_plate_damping.k
  tests/testfiles/initial/nvh/test_frf_solid.k
  tests/testfiles/initial/test_nvh.k
  tests/testfiles/standard/nvh.k
  tests/testfiles/standard/nvh/frf_plate_damping.k
  tests/testfiles/standard/nvh/frf_solid.k
Labels: documentation

fix problem for belted_dummy model,adya
  examples/Explicit/belted_dummy.py
  examples/Explicit/belted_dummy_data.py
Labels: none

fix problem for belted_dummy model,adya
  examples/Explicit/belted_dummy.py
  examples/Explicit/belted_dummy_data.py
Labels: none

remove the IGA model,it uses some data that we cant share publicly,Adya reported
  examples/IGA/README.txt
  examples/IGA/iga_sample.py
  examples/IGA/iga_sample_data.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/iga/iga_sample/maino.k
Labels: none

remove the IGA model,it uses some data that we cant share publicly,Adya reported
  examples/IGA/README.txt
  examples/IGA/iga_sample.py
  examples/IGA/iga_sample_data.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/iga/iga_sample/maino.k
Labels: none

Added docs for examples
  examples/Airbag/airbag_post.py
  examples/EM/em_post.py
  examples/Explicit/belted_dummy.py
  examples/Implicit/camry_rc.py
Labels: none

Added docker info for solver
  README.rst
  examples/Airbag/airbag_deploy.py
  examples/Airbag/airbag_post.py
  examples/EM/em_post.py
  examples/IGA/iga_sample.py
  examples/NVH/frf_plate_damping.py
  examples/Thermal/thermal_stress.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/solver/docker-compose.yml
Labels: documentation

Update Dockerfile for kwserver
  src/ansys/dyna/core/pre/Server/Dockerfile
  src/ansys/dyna/core/pre/Server/readme_docker.txt
Labels: none

Update Dockerfile for kwserver
  src/ansys/dyna/core/pre/Server/Dockerfile
  src/ansys/dyna/core/pre/Server/readme_docker.txt
Labels: none
