Repository ansys/pydyna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

update thermal model
  examples/Thermal/README.txt
  examples/Thermal/thermal_stress.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynamaterial.py
  src/ansys/dyna/core/pre/dynamech.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/thermal/thermal_stress/thermal_stress.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/conftest.py
  tests/test_dynathermal.py
  tests/testfiles/initial/test_thermal_stress.k
  tests/testfiles/standard/mech.k
  tests/testfiles/standard/thermal_stress.k
Labels: none

add icfd model:internal_3d_flow
  examples/Coupling/wing.py
  examples/ICFD/icfd_internal_3d_flow.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/internal_3d_flow/internal_3d_flow.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/conftest.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_internal_3d_flow.k
  tests/testfiles/standard/icfd/internal_3d_flow.k
Labels: none

add icfd model:internal_3d_flow
  examples/Coupling/wing.py
  examples/ICFD/icfd_internal_3d_flow.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/internal_3d_flow/internal_3d_flow.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/conftest.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_internal_3d_flow.k
  tests/testfiles/standard/icfd/internal_3d_flow.k
Labels: none

reformatted dynaicfd.py
  src/ansys/dyna/core/pre/dynaicfd.py
Labels: none

reformatted dynaicfd.py
  src/ansys/dyna/core/pre/dynaicfd.py
Labels: none

add icfd model:plate flow
  examples/ICFD/icfd_plate_flow.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/plate_flow/plate_flow.k
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_plate_flow.k
  tests/testfiles/standard/icfd/plate_flow.k
Labels: none

add icfd model:plate flow
  examples/ICFD/icfd_plate_flow.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/plate_flow/plate_flow.k
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_plate_flow.k
  tests/testfiles/standard/icfd/plate_flow.k
Labels: none

add icfd model:meshsize
  examples/ICFD/icfd_mesh_size.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/mesh_size/mesh_size.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_mesh_size.k
  tests/testfiles/standard/icfd/mesh_size.k
Labels: none

add icfd model:meshsize
  examples/ICFD/icfd_mesh_size.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/mesh_size/mesh_size.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_mesh_size.k
  tests/testfiles/standard/icfd/mesh_size.k
Labels: none

add icfd model:thermal flow
  examples/ICFD/icfd_thermal_flow.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/thermal_flow/thermal_flow.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_thermal_flow.k
  tests/testfiles/standard/icfd/thermal_flow.k
Labels: none

add icfd model:thermal flow
  examples/ICFD/icfd_thermal_flow.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/thermal_flow/thermal_flow.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_thermal_flow.k
  tests/testfiles/standard/icfd/thermal_flow.k
Labels: none

add icfd model:free convection flow
  examples/ICFD/icfd_free_convection_flow.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/free_convection_flow/free_convection_flow.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_free_convection_flow.k
  tests/testfiles/standard/icfd/free_convection_flow.k
Labels: none

add icfd model:free convection flow
  examples/ICFD/icfd_free_convection_flow.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/free_convection_flow/free_convection_flow.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_free_convection_flow.k
  tests/testfiles/standard/icfd/free_convection_flow.k
Labels: none

add icfd model:dam break
  examples/ICFD/icfd_dam_break.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/dam_break/dam_break.k
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_dam_break.k
  tests/testfiles/standard/icfd/dam_break.k
Labels: none

add icfd model:dam break
  examples/ICFD/icfd_dam_break.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/dam_break/dam_break.k
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_dam_break.k
  tests/testfiles/standard/icfd/dam_break.k
Labels: none

add icfd model:driven cavity
  examples/ICFD/icfd_driven_cavity.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/driven_cavity/driven_cavity.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_driven_cavity.k
  tests/testfiles/standard/icfd/driven_cavity.k
Labels: none

add icfd model:driven cavity
  examples/ICFD/icfd_driven_cavity.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/driven_cavity/driven_cavity.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_driven_cavity.k
  tests/testfiles/standard/icfd/driven_cavity.k
Labels: none

add icfd model:weak fsi
  examples/ICFD/icfd_weak_fsi.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/weak_fsi/weak_fsi.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_weak_fsi.k
  tests/testfiles/standard/icfd/weak_fsi.k
Labels: none

add icfd model:weak fsi
  examples/ICFD/icfd_weak_fsi.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/weak_fsi/weak_fsi.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_weak_fsi.k
  tests/testfiles/standard/icfd/weak_fsi.k
Labels: none

remove example wing(it is private)
  examples/Coupling/Readme.txt
  examples/Coupling/wing.py
  examples/Coupling/wing_data.py
  src/ansys/dyna/core/pre/examples/coupling/wing/fe-rig_mesh2.k
  src/ansys/dyna/core/pre/examples/coupling/wing/main.k
  src/ansys/dyna/core/pre/examples/coupling/wing/p22a-unts.k
Labels: none

remove example wing(it is private)
  examples/Coupling/Readme.txt
  examples/Coupling/wing.py
  examples/Coupling/wing_data.py
  src/ansys/dyna/core/pre/examples/coupling/wing/fe-rig_mesh2.k
  src/ansys/dyna/core/pre/examples/coupling/wing/main.k
  src/ansys/dyna/core/pre/examples/coupling/wing/p22a-unts.k
Labels: none

add icfd model:dem coupling
  examples/ICFD/icfd_dem_coupling.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynadem.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/dynamaterial.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/dem_coupling/dem_coupling.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_dem_coupling.k
  tests/testfiles/standard/icfd/dem_coupling.k
Labels: none

add icfd model:dem coupling
  examples/ICFD/icfd_dem_coupling.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynadem.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/dynamaterial.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/dem_coupling/dem_coupling.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_dem_coupling.k
  tests/testfiles/standard/icfd/dem_coupling.k
Labels: none

add icfd model:strong fsi
  examples/ICFD/icfd_strong_fsi.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/strong_fsi/strong_fsi.k
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_strong_fsi.k
  tests/testfiles/standard/icfd/strong_fsi.k
Labels: none

add icfd model:strong fsi
  examples/ICFD/icfd_strong_fsi.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/strong_fsi/strong_fsi.k
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_strong_fsi.k
  tests/testfiles/standard/icfd/strong_fsi.k
Labels: none

add icfd model:imposed move
  examples/ICFD/icfd_imposed_move.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/imposed_move/imposed_move.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_imposed_move.k
  tests/testfiles/standard/icfd/imposed_move.k
Labels: none

add icfd model:imposed move
  examples/ICFD/icfd_imposed_move.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/imposed_move/imposed_move.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_imposed_move.k
  tests/testfiles/standard/icfd/imposed_move.k
Labels: none

update
  README.rst
Labels: documentation

update
  README.rst
Labels: documentation

add icfd model:mesh adaptivity
  examples/ICFD/icfd_mesh_adaptivity.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/mesh_adaptivity/mesh_adaptivity.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_mesh_adaptivity.k
  tests/testfiles/standard/icfd/mesh_adaptivity.k
Labels: none

add icfd model:mesh adaptivity
  examples/ICFD/icfd_mesh_adaptivity.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/mesh_adaptivity/mesh_adaptivity.k
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_mesh_adaptivity.k
  tests/testfiles/standard/icfd/mesh_adaptivity.k
Labels: none

reset icfd cylinder flow model
  examples/ICFD/icfd_cylinderflow.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/cylinder_flow/cylinder_flow.k
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_cylinder_flow.k
  tests/testfiles/standard/icfd/cylinder_flow.k
Labels: none

reset icfd cylinder flow model
  examples/ICFD/icfd_cylinderflow.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/cylinder_flow/cylinder_flow.k
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_cylinder_flow.k
  tests/testfiles/standard/icfd/cylinder_flow.k
Labels: none

add icfd model:mesh morphing
  examples/ICFD/icfd_mesh_morphing.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/mesh_morphing/mesh_morphing.k
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_mesh_morphing.k
  tests/testfiles/standard/icfd/mesh_morphing.k
Labels: none

add icfd model:mesh morphing
  examples/ICFD/icfd_mesh_morphing.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/mesh_morphing/mesh_morphing.k
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_mesh_morphing.k
  tests/testfiles/standard/icfd/mesh_morphing.k
Labels: none

add icfd model:sloshing
  examples/ICFD/icfd_sloshing.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/cylinder_flow/lspost.cfile
  src/ansys/dyna/core/pre/examples/icfd/cylinder_flow/lspost.msg
  src/ansys/dyna/core/pre/examples/icfd/sloshing/sloshing.k
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_sloshing.k
  tests/testfiles/standard/icfd/sloshing.k
Labels: none

add icfd model:sloshing
  examples/ICFD/icfd_sloshing.py
  src/ansys/dyna/core/pre/dynaicfd.py
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/examples/icfd/cylinder_flow/lspost.cfile
  src/ansys/dyna/core/pre/examples/icfd/cylinder_flow/lspost.msg
  src/ansys/dyna/core/pre/examples/icfd/sloshing/sloshing.k
  tests/test_dynaicfd.py
  tests/testfiles/initial/icfd/test_sloshing.k
  tests/testfiles/standard/icfd/sloshing.k
Labels: none

Updating pre-commit
  .pre-commit-config.yaml
Labels: none

Updating pre-commit
  .pre-commit-config.yaml
Labels: none

Updating workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- setup.py
dependencies:
- requirements/**/*
- requirements_docs.txt
- requirements_test.txt
testing:
- _unittest/conftest.py
