Repository ansys/pydyna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- setup.py
dependencies:
- requirements/**/*
- requirements_docs.txt
- requirements_test.txt
testing:
- _unittest/conftest.py

Downgrade protobuf to 3.19.
  setup.py
Labels: maintenance

Cleaning up setup.py
  setup.py
Labels: maintenance

Cleaning up setup.py
  setup.py
Labels: maintenance

Proper smoke tests and wheelhouse
  .github/workflows/ci_cd.yml
Labels: maintenance

Proper smoke tests and wheelhouse
  .github/workflows/ci_cd.yml
Labels: maintenance

Error in syntax of workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

Error in syntax of workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

Adding pre-commit checks
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  ansys/dyna/pre/dynabase.py
  ansys/dyna/pre/dynadem.py
  ansys/dyna/pre/dynaem.py
  ansys/dyna/pre/dynaicfd.py
  ansys/dyna/pre/dynaiga.py
  ansys/dyna/pre/dynaisph.py
  ansys/dyna/pre/dynamaterial.py
  ansys/dyna/pre/dynamech.py
  ansys/dyna/pre/dynasale.py
  ansys/dyna/pre/dynasolution.py
  ansys/dyna/pre/examples/examples.py
  ansys/dyna/solver/dynasolver.py
Labels: maintenance

Adding pre-commit checks
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  ansys/dyna/pre/dynabase.py
  ansys/dyna/pre/dynadem.py
  ansys/dyna/pre/dynaem.py
  ansys/dyna/pre/dynaicfd.py
  ansys/dyna/pre/dynaiga.py
  ansys/dyna/pre/dynaisph.py
  ansys/dyna/pre/dynamaterial.py
  ansys/dyna/pre/dynamech.py
  ansys/dyna/pre/dynasale.py
  ansys/dyna/pre/dynasolution.py
  ansys/dyna/pre/examples/examples.py
  ansys/dyna/solver/dynasolver.py
Labels: maintenance

Pre-commit checks
  ansys/dyna/pre/dynabase.py
  ansys/dyna/pre/dynanvh.py
  ansys/dyna/pre/examples/examples.py
Labels: none

Pre-commit checks
  ansys/dyna/pre/dynabase.py
  ansys/dyna/pre/dynanvh.py
  ansys/dyna/pre/examples/examples.py
Labels: none

Remove caching dependencies - no pyproject.toml file
  .github/workflows/ci_cd.yml
Labels: maintenance

Remove caching dependencies - no pyproject.toml file
  .github/workflows/ci_cd.yml
Labels: maintenance

Adding Python 3.10 as supported
  setup.py
Labels: maintenance

Adding Python 3.10 as supported
  setup.py
Labels: maintenance

Minor change to artifact name
  .github/workflows/ci_cd.yml
Labels: maintenance

Minor change to artifact name
  .github/workflows/ci_cd.yml
Labels: maintenance

Packaging of all ansys-dyna modules
  setup.py
Labels: maintenance

Packaging of all ansys-dyna modules
  setup.py
Labels: maintenance

Changing build dir + clean,pdf targets
  doc/Makefile
  doc/make.bat
Labels: none

Changing build dir + clean,pdf targets
  doc/Makefile
  doc/make.bat
Labels: none

Missing install of ansys-dyna package
  .github/workflows/ci_cd.yml
Labels: maintenance

Missing install of ansys-dyna package
  .github/workflows/ci_cd.yml
Labels: maintenance

Removing examples from documentation build (temp)
  .gitignore
  doc/source/conf.py
  doc/source/index.rst
Labels: documentation

Removing examples from documentation build (temp)
  .gitignore
  doc/source/conf.py
  doc/source/index.rst
Labels: documentation

Solving doc build warnings
  ansys/dyna/solver/dynasolver.py
  doc/source/Resources/pydyna_post.rst
Labels: documentation

Solving doc build warnings
  ansys/dyna/solver/dynasolver.py
  doc/source/Resources/pydyna_post.rst
Labels: documentation

Improving docs build
  doc/source/conf.py
  requirements_docs.txt
Labels: documentation, dependencies

Improving docs build
  doc/source/conf.py
  requirements_docs.txt
Labels: documentation, dependencies

Using PyAnsys actions
  .github/workflows/ci_cd.yml
Labels: maintenance

Using PyAnsys actions
  .github/workflows/ci_cd.yml
Labels: maintenance

Removing python cache usage (only pyproject.toml files)
  .github/workflows/ci_cd.yml
Labels: maintenance

Removing python cache usage (only pyproject.toml files)
  .github/workflows/ci_cd.yml
Labels: maintenance

Oops
  doc/source/conf.py
Labels: documentation

Oops
  doc/source/conf.py
Labels: documentation

Duplicated entries
  doc/source/conf.py
Labels: documentation

Duplicated entries
  doc/source/conf.py
Labels: documentation

Solving pre-commit issues
  ansys/dyna/pre/dynamaterial.py
Labels: none

Solving pre-commit issues
  ansys/dyna/pre/dynamaterial.py
Labels: none

Renaming imports to ansys.dyna.core and removing sys.path.append() statements
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/Resources/pydyna_solver.rst
  doc/source/conf.py
  examples/Airbag/airbag_deploy.py
  examples/Coupling/wing.py
  examples/EM/em_railgun.py
  examples/Explicit/belted_dummy.py
  examples/ICFD/icfd_cylinderflow.py
  examples/IGA/iga_sample.py
  examples/ISPH/rigidtest.py
  examples/Implicit/camry_rc.py
  examples/Implicit/camry_rc_data.py
  examples/NVH/frf_plate_damping.py
  examples/SALE/sale_efp.py
  examples/solver/client.py
  examples/solver/runjob_example.py
  pyproject.toml
  requirements/python36/requirements.txt
  requirements/python38/requirements.txt
  requirements/python39/requirements.txt
  requirements_docs.txt
  requirements_test.txt
  setup.py
  src/ansys/dyna/core/__init__.py
  src/ansys/dyna/core/_version.py
  src/ansys/dyna/core/solver/__init__.py
  src/ansys/dyna/core/solver/_version.py
  tests/conftest.py
  tests/test_dynabase.py
  tests/test_dynadem.py
  tests/test_dynaem.py
  tests/test_dynaicfd.py
  tests/test_dynaiga.py
  tests/test_dynaisph.py
  tests/test_dynamech.py
  tests/test_dynanvh.py
  tests/test_dynasale.py
  tests/test_dynasolution.py
Labels: documentation, maintenance, dependencies
