Repository ansys/pydyna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

Updating workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

Pre-commit reformat
  src/ansys/dyna/core/pre/dynamaterial.py
Labels: none

Pre-commit reformat
  src/ansys/dyna/core/pre/dynamaterial.py
Labels: none

Removing Py3.11 smoke tests
  .github/workflows/ci_cd.yml
Labels: maintenance

Removing Py3.11 smoke tests
  .github/workflows/ci_cd.yml
Labels: maintenance

Vale checks review
  doc/source/API/index.rst
  doc/source/API/pre.rst
  doc/source/Resources/Getting_Started.rst
  doc/source/Resources/User_Guide.rst
  doc/source/Resources/pydyna_post.rst
  doc/source/Resources/pydyna_pre.rst
  doc/source/Resources/pydyna_solver.rst
  doc/source/_static/README.md
  doc/source/_templates/autosummary/class.rst
  doc/source/_templates/custom-class-template.rst
  doc/source/_templates/custom-module-template.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

Vale checks review
  doc/source/API/index.rst
  doc/source/API/pre.rst
  doc/source/Resources/Getting_Started.rst
  doc/source/Resources/User_Guide.rst
  doc/source/Resources/pydyna_post.rst
  doc/source/Resources/pydyna_pre.rst
  doc/source/Resources/pydyna_solver.rst
  doc/source/_static/README.md
  doc/source/_templates/autosummary/class.rst
  doc/source/_templates/custom-class-template.rst
  doc/source/_templates/custom-module-template.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

Typos
  doc/source/_templates/autosummary/class.rst
  doc/source/_templates/custom-class-template.rst
  doc/source/_templates/custom-module-template.rst
Labels: documentation

Typos
  doc/source/_templates/autosummary/class.rst
  doc/source/_templates/custom-class-template.rst
  doc/source/_templates/custom-module-template.rst
Labels: documentation

Vale errors
  doc/source/Resources/Getting_Started.rst
  doc/source/Resources/pydyna_post.rst
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

Vale errors
  doc/source/Resources/Getting_Started.rst
  doc/source/Resources/pydyna_post.rst
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

Vale typos II
  doc/source/Resources/pydyna_pre.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

Vale typos II
  doc/source/Resources/pydyna_pre.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

Minor change to project description
  pyproject.toml
Labels: none

Including testing section
  .github/workflows/ci_cd.yml
Labels: maintenance

Errors on workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

Increase pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Consider also .github folder in pre-commit
  .pre-commit-config.yaml
Labels: none

Setting up proper dependencies between jobs
  .github/workflows/ci_cd.yml
Labels: maintenance

Always upload server logs
  .github/workflows/ci_cd.yml
Labels: maintenance

START command windows
  .github/workflows/ci_cd.yml
Labels: maintenance

Upload artifact with different names
  .github/workflows/ci_cd.yml
Labels: maintenance

New trial with windows cmd
  .github/workflows/ci_cd.yml
Labels: maintenance

Trying to solve vale warning
  doc/source/Resources/pydyna_post.rst
Labels: documentation

Using pythonw approach
  .github/workflows/ci_cd.yml
Labels: maintenance

Checking if server runs at all...
  .github/workflows/ci_cd.yml
Labels: maintenance

Caching tests dependencies
  .github/workflows/ci_cd.yml
Labels: maintenance

Trying to emulate nohup approach Windows
  .ci/nohup.vbs
  .github/workflows/ci_cd.yml
Labels: maintenance

Typo in workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

Typo in workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

Trying different approach
  .github/workflows/ci_cd.yml
Labels: maintenance

Other trial
  .github/workflows/ci_cd.yml
Labels: maintenance

Try doing it all at once
  .github/workflows/ci_cd.yml
Labels: maintenance

Even the process for Linux/Windows
  .github/workflows/ci_cd.yml
Labels: maintenance

Not needed any more
  .ci/nohup.vbs
Labels: none

fix some problem for icfd models
  examples/ICFD/icfd_strong_fsi.py
  examples/ICFD/icfd_weak_fsi.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  tests/test_dynaicfd.py
  tests/testfiles/standard/icfd/strong_fsi.k
  tests/testfiles/standard/icfd/weak_fsi.k
Labels: none

fix some problem for icfd models
  examples/ICFD/icfd_strong_fsi.py
  examples/ICFD/icfd_weak_fsi.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  tests/test_dynaicfd.py
  tests/testfiles/standard/icfd/strong_fsi.k
  tests/testfiles/standard/icfd/weak_fsi.k
Labels: none

Remove sklearn dep
  pyproject.toml
Labels: none

Implement unit tests (#76)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/source/Resources/pydyna_post.rst
  pyproject.toml
Labels: documentation, maintenance

Implement unit tests (#76)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/source/Resources/pydyna_post.rst
  pyproject.toml
Labels: documentation, maintenance

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- setup.py
dependencies:
- requirements/**/*
- requirements_docs.txt
- requirements_test.txt
testing:
- _unittest/conftest.py
