Repository ansys/pydyna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

Adding server run to the docs
  .github/workflows/ci_cd.yml
Labels: maintenance

Allowing examples rendering
  doc/source/conf.py
Labels: documentation

Always upload server docs
  .github/workflows/ci_cd.yml
Labels: maintenance

Include examples in docs
  doc/source/index.rst
  examples/README.txt
Labels: documentation

Adding missing README
  examples/solver/README.txt
Labels: none

Rename Readme.txt to README.txt
  examples/EM/README.txt
Labels: none

Rename Readme.txt to README.txt
  examples/Explicit/README.txt
Labels: none

Rename Readme.txt to README.txt
  examples/ICFD/README.txt
Labels: none

Rename Readme.txt to README.txt
  examples/IGA/README.txt
Labels: none

Rename Readme.txt to README.txt
  examples/ISPH/README.txt
Labels: none

Rename Readme.txt to README.txt
  examples/Implicit/README.txt
Labels: none

Rename Readme.txt to README.txt
  examples/NVH/README.txt
Labels: none

Rename Readme.txt to README.txt
  examples/SALE/README.txt
Labels: none

Missing imports
  src/ansys/dyna/core/solver/__init__.py
Labels: none

Ignoring solver examples folder
  examples/solver/README.txt
Labels: none

Embedd examples inside documentation (#84)
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  doc/source/index.rst
  examples/EM/README.txt
  examples/Explicit/README.txt
  examples/ICFD/README.txt
  examples/IGA/README.txt
  examples/ISPH/README.txt
  examples/Implicit/README.txt
  examples/NVH/README.txt
  examples/README.txt
  examples/SALE/README.txt
  src/ansys/dyna/core/solver/__init__.py
Labels: documentation, maintenance

Embedd examples inside documentation (#84)
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  doc/source/index.rst
  examples/EM/README.txt
  examples/Explicit/README.txt
  examples/ICFD/README.txt
  examples/IGA/README.txt
  examples/ISPH/README.txt
  examples/Implicit/README.txt
  examples/NVH/README.txt
  examples/README.txt
  examples/SALE/README.txt
  src/ansys/dyna/core/solver/__init__.py
Labels: documentation, maintenance

Update Getting_Started.rst
  doc/source/Resources/Getting_Started.rst
Labels: documentation

Update pyproject.toml
  pyproject.toml
Labels: none

Update doc/source/Resources/Getting_Started.rst
  doc/source/Resources/Getting_Started.rst
Labels: documentation

Update doc/source/Resources/Getting_Started.rst
  doc/source/Resources/Getting_Started.rst
Labels: documentation

Update Getting_Started.rst
  doc/source/Resources/Getting_Started.rst
Labels: documentation

Apply suggestions from code review
  doc/source/Resources/Getting_Started.rst
Labels: documentation

Apply suggestions from code review
  doc/source/Resources/Getting_Started.rst
Labels: documentation

Update the installation directions (#90)
  doc/source/Resources/Getting_Started.rst
Labels: documentation

Update the installation directions (#90)
  doc/source/Resources/Getting_Started.rst
Labels: documentation

correct parameter for icfd sloshing model
  examples/ICFD/icfd_sloshing.py
  examples/Note.txt
  tests/test_dynaicfd.py
  tests/testfiles/standard/icfd/sloshing.k
Labels: none

correct parameter for icfd sloshing model
  examples/ICFD/icfd_sloshing.py
  examples/Note.txt
  tests/test_dynaicfd.py
  tests/testfiles/standard/icfd/sloshing.k
Labels: none

update keywordreader and examples
  examples/Note.txt
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  tests/testfiles/standard/dem.k
  tests/testfiles/standard/icfd/dam_break.k
  tests/testfiles/standard/icfd/dem_coupling.k
  tests/testfiles/standard/icfd/driven_cavity.k
  tests/testfiles/standard/icfd/free_convection_flow.k
  tests/testfiles/standard/icfd/imposed_move.k
  tests/testfiles/standard/icfd/internal_3d_flow.k
  tests/testfiles/standard/icfd/mesh_adaptivity.k
  tests/testfiles/standard/icfd/mesh_morphing.k
  tests/testfiles/standard/icfd/mesh_size.k
  tests/testfiles/standard/icfd/plate_flow.k
  tests/testfiles/standard/icfd/sloshing.k
  tests/testfiles/standard/icfd/strong_fsi.k
  tests/testfiles/standard/icfd/thermal_flow.k
  tests/testfiles/standard/icfd/weak_fsi.k
Labels: none

update keywordreader and examples
  examples/Note.txt
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaicfd.py
  tests/testfiles/standard/dem.k
  tests/testfiles/standard/icfd/dam_break.k
  tests/testfiles/standard/icfd/dem_coupling.k
  tests/testfiles/standard/icfd/driven_cavity.k
  tests/testfiles/standard/icfd/free_convection_flow.k
  tests/testfiles/standard/icfd/imposed_move.k
  tests/testfiles/standard/icfd/internal_3d_flow.k
  tests/testfiles/standard/icfd/mesh_adaptivity.k
  tests/testfiles/standard/icfd/mesh_morphing.k
  tests/testfiles/standard/icfd/mesh_size.k
  tests/testfiles/standard/icfd/plate_flow.k
  tests/testfiles/standard/icfd/sloshing.k
  tests/testfiles/standard/icfd/strong_fsi.k
  tests/testfiles/standard/icfd/thermal_flow.k
  tests/testfiles/standard/icfd/weak_fsi.k
Labels: none

increase size for thumbnail and add thumbnail for dem_coupling
  doc/source/_static/pre/icfd/dem_coupling.png
  doc/source/conf.py
  examples/ICFD/icfd_dem_coupling.py
  examples/Note.txt
Labels: documentation

increase size for thumbnail and add thumbnail for dem_coupling
  doc/source/_static/pre/icfd/dem_coupling.png
  doc/source/conf.py
  examples/ICFD/icfd_dem_coupling.py
  examples/Note.txt
Labels: documentation

move lsdyna version info to the example file
  examples/Airbag/airbag_deploy.py
  examples/EM/em_railgun.py
  examples/Explicit/belted_dummy.py
  examples/ICFD/icfd_cylinderflow.py
  examples/ICFD/icfd_dam_break.py
  examples/ICFD/icfd_dem_coupling.py
  examples/ICFD/icfd_driven_cavity.py
  examples/ICFD/icfd_free_convection_flow.py
  examples/ICFD/icfd_imposed_move.py
  examples/ICFD/icfd_internal_3d_flow.py
  examples/ICFD/icfd_mesh_adaptivity.py
  examples/ICFD/icfd_mesh_morphing.py
  examples/ICFD/icfd_mesh_size.py
  examples/ICFD/icfd_plate_flow.py
  examples/ICFD/icfd_sloshing.py
  examples/ICFD/icfd_strong_fsi.py
  examples/ICFD/icfd_thermal_flow.py
  examples/ICFD/icfd_weak_fsi.py
  examples/IGA/iga_sample.py
  examples/ISPH/rigidtest.py
  examples/NVH/frf_plate_damping.py
  examples/Note.txt
  examples/SALE/sale_efp.py
  examples/Thermal/thermal_stress.py
Labels: none

move lsdyna version info to the example file
  examples/Airbag/airbag_deploy.py
  examples/EM/em_railgun.py
  examples/Explicit/belted_dummy.py
  examples/ICFD/icfd_cylinderflow.py
  examples/ICFD/icfd_dam_break.py
  examples/ICFD/icfd_dem_coupling.py
  examples/ICFD/icfd_driven_cavity.py
  examples/ICFD/icfd_free_convection_flow.py
  examples/ICFD/icfd_imposed_move.py
  examples/ICFD/icfd_internal_3d_flow.py
  examples/ICFD/icfd_mesh_adaptivity.py
  examples/ICFD/icfd_mesh_morphing.py
  examples/ICFD/icfd_mesh_size.py
  examples/ICFD/icfd_plate_flow.py
  examples/ICFD/icfd_sloshing.py
  examples/ICFD/icfd_strong_fsi.py
  examples/ICFD/icfd_thermal_flow.py
  examples/ICFD/icfd_weak_fsi.py
  examples/IGA/iga_sample.py
  examples/ISPH/rigidtest.py
  examples/NVH/frf_plate_damping.py
  examples/Note.txt
  examples/SALE/sale_efp.py
  examples/Thermal/thermal_stress.py
Labels: none

fix minor problems for icfd document
  examples/ICFD/icfd_dem_coupling.py
  examples/ICFD/icfd_driven_cavity.py
  examples/ICFD/icfd_free_convection_flow.py
Labels: none

fix minor problems for icfd document
  examples/ICFD/icfd_dem_coupling.py
  examples/ICFD/icfd_driven_cavity.py
  examples/ICFD/icfd_free_convection_flow.py
Labels: none

Adding private PyPI release
  .github/workflows/ci_cd.yml
Labels: maintenance

Enhancing README
  README.rst
Labels: documentation

Adapting version shown on docs
  doc/source/index.rst
Labels: documentation

Typo and missing link
  README.rst
Labels: documentation

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- setup.py
dependencies:
- requirements/**/*
- requirements_docs.txt
- requirements_test.txt
testing:
- _unittest/conftest.py
