Repository ansys/pydyna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
dependencies:
- pyproject.toml
testing:
- _unittest/conftest.py
- tests/*

Apply suggestions from code review
  doc/source/Resources/Contributing.rst
Labels: documentation

Fix: add python version
  doc/source/Resources/pydyna_post.rst
  pyproject.toml
Labels: documentation, maintenance, dependencies

doc: fix accept version
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

FIX: remove codecov deps
  pyproject.toml
Labels: maintenance, dependencies

FIX: remove codecov deps (#149)
  pyproject.toml
Labels: maintenance, dependencies

FIX: remove codecov deps (#149)
  pyproject.toml
Labels: maintenance, dependencies

add EM model:resistive heating 2d
  doc/source/_static/pre/em/resistive_heating_2d.png
  examples/EM/em_resistive_heating.py
  examples/EM/em_resistive_heating_2d.py
  src/ansys/dyna/core/pre/Server/genpyprocs.bat
  src/ansys/dyna/core/pre/Server/kwprocess.proto
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaem.py
  src/ansys/dyna/core/pre/dynamaterial.py
  src/ansys/dyna/core/pre/examples/em/em_resistive_heating_2d/em_resistive_heating_2d.k
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaem.py
  tests/testfiles/initial/em/test_resistive_heating_2d.k
  tests/testfiles/standard/em/resistive_heating.k
  tests/testfiles/standard/em/resistive_heating_2d.k
Labels: documentation, testing

add EM model:resistive heating 2d
  doc/source/_static/pre/em/resistive_heating_2d.png
  examples/EM/em_resistive_heating.py
  examples/EM/em_resistive_heating_2d.py
  src/ansys/dyna/core/pre/Server/genpyprocs.bat
  src/ansys/dyna/core/pre/Server/kwprocess.proto
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynaem.py
  src/ansys/dyna/core/pre/dynamaterial.py
  src/ansys/dyna/core/pre/examples/em/em_resistive_heating_2d/em_resistive_heating_2d.k
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaem.py
  tests/testfiles/initial/em/test_resistive_heating_2d.k
  tests/testfiles/standard/em/resistive_heating.k
  tests/testfiles/standard/em/resistive_heating_2d.k
Labels: documentation, testing

MAINT: do not support Python 3.7
  pyproject.toml
Labels: maintenance, dependencies

MAINT: point codespell to Vale
  .pre-commit-config.yaml
Labels: none

MAINT: declare style in pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance, dependencies

MAINT: add AUTHORS.md file
  AUTHORS.md
Labels: none

MAINT: drop support for Python 3.7
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance, dependencies

Update pyproject.toml
  pyproject.toml
Labels: maintenance, dependencies

feat: enabling DPF Server in docs build
  .github/workflows/ci_cd.yml
Labels: maintenance

Connect to DPF server
  examples/Airbag/airbag_post.py
  examples/EM/em_post.py
Labels: none

feat: dpf data files are not available....
  examples/Airbag/airbag_post.py
  examples/EM/em_post.py
Labels: none

Doc updates (#127)
  .github/workflows/ci_cd.yml
  README.rst
  examples/Airbag/airbag_deploy.py
  examples/Airbag/airbag_post.py
  examples/EM/em_post.py
  examples/Explicit/belted_dummy.py
  examples/Implicit/camry_rc.py
  examples/NVH/frf_plate_damping.py
  examples/Thermal/thermal_stress.py
  pyproject.toml
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/solver/docker-compose.yml
Labels: documentation, maintenance, dependencies

Doc updates (#127)
  .github/workflows/ci_cd.yml
  README.rst
  examples/Airbag/airbag_deploy.py
  examples/Airbag/airbag_post.py
  examples/EM/em_post.py
  examples/Explicit/belted_dummy.py
  examples/Implicit/camry_rc.py
  examples/NVH/frf_plate_damping.py
  examples/Thermal/thermal_stress.py
  pyproject.toml
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/solver/docker-compose.yml
Labels: documentation, maintenance, dependencies

add some EM models
  doc/source/_static/pre/em/resistive_heating_2d_isopots.png
  doc/source/_static/pre/em/rlc_define_func.png
  doc/source/_static/pre/em/rlc_isopotential.png
  examples/EM/em_resistive_heating_2d_isopots.py
  examples/EM/em_resistive_heating_2d_multi_isopots.py
  examples/EM/em_rlc_define_func.py
  examples/EM/em_rlc_isopotential.py
  examples/EM/em_set_data.py
  src/ansys/dyna/core/pre/Server/kwprocess.proto
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynaem.py
  src/ansys/dyna/core/pre/examples/em/em_resistive_heating_2d_isopots/em_resistive_heating_2d_isopots.k
  src/ansys/dyna/core/pre/examples/em/em_resistive_heating_2d_multi_isopots/em_resistive_heating_2d_multi_isopots.k
  src/ansys/dyna/core/pre/examples/em/em_rlc_define_func/em_rlc_define_func.k
  src/ansys/dyna/core/pre/examples/em/em_rlc_isopotential/em_rlc_isopotential.k
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaem.py
  tests/testfiles/initial/em/test_resistive_heating_2d_isopots.k
  tests/testfiles/initial/em/test_resistive_heating_2d_multi_isopots.k
  tests/testfiles/initial/em/test_rlc_define_func.k
  tests/testfiles/initial/em/test_rlc_isopotential.k
  tests/testfiles/standard/em/resistive_heating_2d_isopots.k
  tests/testfiles/standard/em/resistive_heating_2d_multi_isopots.k
  tests/testfiles/standard/em/rlc_define_func.k
  tests/testfiles/standard/em/rlc_isopotential.k
Labels: documentation, testing

add some EM models
  doc/source/_static/pre/em/resistive_heating_2d_isopots.png
  doc/source/_static/pre/em/rlc_define_func.png
  doc/source/_static/pre/em/rlc_isopotential.png
  examples/EM/em_resistive_heating_2d_isopots.py
  examples/EM/em_resistive_heating_2d_multi_isopots.py
  examples/EM/em_rlc_define_func.py
  examples/EM/em_rlc_isopotential.py
  examples/EM/em_set_data.py
  src/ansys/dyna/core/pre/Server/kwprocess.proto
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynaem.py
  src/ansys/dyna/core/pre/examples/em/em_resistive_heating_2d_isopots/em_resistive_heating_2d_isopots.k
  src/ansys/dyna/core/pre/examples/em/em_resistive_heating_2d_multi_isopots/em_resistive_heating_2d_multi_isopots.k
  src/ansys/dyna/core/pre/examples/em/em_rlc_define_func/em_rlc_define_func.k
  src/ansys/dyna/core/pre/examples/em/em_rlc_isopotential/em_rlc_isopotential.k
  src/ansys/dyna/core/pre/examples/examples.py
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/test_dynaem.py
  tests/testfiles/initial/em/test_resistive_heating_2d_isopots.k
  tests/testfiles/initial/em/test_resistive_heating_2d_multi_isopots.k
  tests/testfiles/initial/em/test_rlc_define_func.k
  tests/testfiles/initial/em/test_rlc_isopotential.k
  tests/testfiles/standard/em/resistive_heating_2d_isopots.k
  tests/testfiles/standard/em/resistive_heating_2d_multi_isopots.k
  tests/testfiles/standard/em/rlc_define_func.k
  tests/testfiles/standard/em/rlc_isopotential.k
Labels: documentation, testing

fix: PyAnsys actions
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: PyAnsys actions
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: solve Docker image issues
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: solve Docker image issues
  .github/workflows/ci_cd.yml
Labels: maintenance

add function to support include_transform
  src/ansys/dyna/core/pre/Server/kwprocess.proto
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynaem.py
  src/ansys/dyna/core/pre/dynamaterial.py
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/conftest.py
  tests/test_dynasolution.py
  tests/testfiles/initial/solution/test_elementary_main.k
  tests/testfiles/initial/solution/test_elementary_transform.k
  tests/testfiles/initial/solution/test_solution.k
  tests/testfiles/initial/test_solution.k
  tests/testfiles/standard/solution.k
  tests/testfiles/standard/solution/elementary_main.k
  tests/testfiles/standard/solution/solution.k
Labels: testing

add function to support include_transform
  src/ansys/dyna/core/pre/Server/kwprocess.proto
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynaem.py
  src/ansys/dyna/core/pre/dynamaterial.py
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  tests/conftest.py
  tests/test_dynasolution.py
  tests/testfiles/initial/solution/test_elementary_main.k
  tests/testfiles/initial/solution/test_elementary_transform.k
  tests/testfiles/initial/solution/test_solution.k
  tests/testfiles/initial/test_solution.k
  tests/testfiles/standard/solution.k
  tests/testfiles/standard/solution/elementary_main.k
  tests/testfiles/standard/solution/solution.k
Labels: testing

add docker files for linux
  docker/Dockerfile
  docker/README.rst
Labels: none

add docker files for linux
  docker/Dockerfile
  docker/README.rst
Labels: none

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

feat: run against Docker container
  .github/workflows/ci_cd.yml
Labels: maintenance

try to fix testing problem
  docker/docker-compose.yml
  src/ansys/dyna/core/pre/Server/kwprocess.proto
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/dynasolution.py
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  tests/conftest.py
  tests/test_dynasolution.py
  tests/testfiles/output/test_elementary_main.k
  tests/testfiles/output/test_solution.k
Labels: testing

fix testing problem
  tests/conftest.py
  tests/test_dynabase.py
  tests/test_dynadem.py
  tests/test_dynaem.py
  tests/test_dynaicfd.py
  tests/test_dynaiga.py
  tests/test_dynaisph.py
  tests/test_dynamech.py
  tests/test_dynanvh.py
  tests/test_dynasale.py
  tests/test_dynathermal.py
  tests/testfiles/output/test_elementary_main.k
  tests/testfiles/output/test_solution.k
Labels: testing

try to fix downloading problem
  tests/testfiles/output/test_base.k
  tests/testfiles/output/test_cylinder_flow.k
  tests/testfiles/output/test_dam_break.k
  tests/testfiles/output/test_dem.k
  tests/testfiles/output/test_dem_coupling.k
  tests/testfiles/output/test_driven_cavity.k
  tests/testfiles/output/test_elementary_main.k
  tests/testfiles/output/test_free_convection_flow.k
  tests/testfiles/output/test_frf_plate_damping.k
  tests/testfiles/output/test_frf_solid.k
  tests/testfiles/output/test_iga.k
  tests/testfiles/output/test_imposed_move.k
  tests/testfiles/output/test_internal_3d_flow.k
  tests/testfiles/output/test_isph.k
  tests/testfiles/output/test_mech.k
  tests/testfiles/output/test_mesh_adaptivity.k
  tests/testfiles/output/test_mesh_morphing.k
  tests/testfiles/output/test_mesh_size.k
  tests/testfiles/output/test_plate_flow.k
  tests/testfiles/output/test_railgun.k
  tests/testfiles/output/test_resistive_heating.k
  tests/testfiles/output/test_resistive_heating_2d.k
  tests/testfiles/output/test_resistive_heating_2d_isopots.k
  tests/testfiles/output/test_resistive_heating_2d_multi_isopots.k
  tests/testfiles/output/test_rlc_define_func.k
  tests/testfiles/output/test_rlc_isopotential.k
  tests/testfiles/output/test_sale.k
  tests/testfiles/output/test_sloshing.k
  tests/testfiles/output/test_solution.k
  tests/testfiles/output/test_strong_fsi.k
  tests/testfiles/output/test_thermal_flow.k
  tests/testfiles/output/test_thermal_stress.k
  tests/testfiles/output/test_weak_fsi.k
Labels: none

update readme.rst files
  README.rst
  docker/Dockerfile
  docker/README.rst
Labels: documentation

update README..rst
  README.rst
Labels: documentation

update README.rst
  README.rst
Labels: documentation

Apply suggestions from code review
  README.rst
Labels: documentation

Apply suggestions from code review
  README.rst
Labels: documentation

CI: improve
  .github/workflows/ci_cd.yml
Labels: maintenance
