Repository ansys/pydyna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- setup.py
dependencies:
- requirements/**/*
- requirements_docs.txt
- requirements_test.txt
testing:
- _unittest/conftest.py

Modify the condition to build the dev doc.
  .github/workflows/ci_cd.yml
Labels: maintenance

Modify the condition to build the dev doc.
  .github/workflows/ci_cd.yml
Labels: maintenance

add NVH model
  ansys/dyna/pre/Server/kwprocess_pb2.py
  ansys/dyna/pre/Server/kwprocess_pb2_grpc.py
  ansys/dyna/pre/Server/kwserver.py
  ansys/dyna/pre/dynabase.py
  ansys/dyna/pre/dynanvh.py
  ansys/dyna/pre/examples/examples.py
  ansys/dyna/pre/examples/nvh/frf_plate_damping/frf_plate_damping.k
  ansys/dyna/pre/kwprocess_pb2.py
  ansys/dyna/pre/kwprocess_pb2_grpc.py
  examples/NVH/Readme.txt
  examples/NVH/frf_plate_damping.py
Labels: none

add NVH model
  ansys/dyna/pre/Server/kwprocess_pb2.py
  ansys/dyna/pre/Server/kwprocess_pb2_grpc.py
  ansys/dyna/pre/Server/kwserver.py
  ansys/dyna/pre/dynabase.py
  ansys/dyna/pre/dynanvh.py
  ansys/dyna/pre/examples/examples.py
  ansys/dyna/pre/examples/nvh/frf_plate_damping/frf_plate_damping.k
  ansys/dyna/pre/kwprocess_pb2.py
  ansys/dyna/pre/kwprocess_pb2_grpc.py
  examples/NVH/Readme.txt
  examples/NVH/frf_plate_damping.py
Labels: none

update NVH model
  ansys/dyna/pre/dynabase.py
Labels: none

update NVH model
  ansys/dyna/pre/dynabase.py
Labels: none

Remove the condition based on the 'package' job in the CI/CD.
  .github/workflows/ci_cd.yml
Labels: maintenance

Remove the condition based on the 'package' job in the CI/CD.
  .github/workflows/ci_cd.yml
Labels: maintenance

Add grpcio-tools.
  setup.py
Labels: maintenance

Add grpcio-tools.
  setup.py
Labels: maintenance

Update the path to cache dependencies.
  .github/workflows/ci_cd.yml
Labels: maintenance

Update the path to cache dependencies.
  .github/workflows/ci_cd.yml
Labels: maintenance

Because of protobuf, only Python 3.6 is supported.
  .github/workflows/ci_cd.yml
Labels: maintenance

Because of protobuf, only Python 3.6 is supported.
  .github/workflows/ci_cd.yml
Labels: maintenance

Set pyvista.BUILDING_GALLERY to True.
  doc/source/conf.py
Labels: documentation

Set pyvista.BUILDING_GALLERY to True.
  doc/source/conf.py
Labels: documentation

Add google-api dependencies.
  setup.py
Labels: maintenance

Add google-api dependencies.
  setup.py
Labels: maintenance

Upgrade protobuf version.
  setup.py
Labels: maintenance

Upgrade protobuf version.
  setup.py
Labels: maintenance

update nvh model
  ansys/dyna/pre/dynabase.py
  ansys/dyna/pre/dynanvh.py
  examples/NVH/frf_plate_damping.py
  tests/conftest.py
  tests/test_dynanvh.py
  tests/testfiles/initial/test_nvh.k
  tests/testfiles/standard/nvh.k
Labels: none

update nvh model
  ansys/dyna/pre/dynabase.py
  ansys/dyna/pre/dynanvh.py
  examples/NVH/frf_plate_damping.py
  tests/conftest.py
  tests/test_dynanvh.py
  tests/testfiles/initial/test_nvh.k
  tests/testfiles/standard/nvh.k
Labels: none

Change source import of flake8
  .pre-commit-config.yaml
Labels: none

Change source import of flake8
  .pre-commit-config.yaml
Labels: none

flake8 is now referenced from GitHub instead of GitLab.
  .pre-commit-config.yaml
Labels: none

flake8 is now referenced from GitHub instead of GitLab.
  .pre-commit-config.yaml
Labels: none

only output control_contact when contact object exist.
  tests/testfiles/standard/nvh.k
Labels: none

only output control_contact when contact object exist.
  tests/testfiles/standard/nvh.k
Labels: none

update test file and delete some useless files
  ansys/dyna/pre/dynabase.py
  examples/Airbag/input/airbag_deploy/airbag_deploy.k
  examples/Coupling/input/wing/fe-rig_mesh2.k
  examples/Coupling/input/wing/main.k
  examples/Coupling/input/wing/p22a-unts.k
  examples/EM/input/em_railgun/em_railgun.k
  examples/Explicit/input/belted_dummy/belted_dummy.k
  examples/ICFD/input/icfd_cylinderflow/mesh.k
  examples/IGA/input/iga_sample/maino.k
  examples/Implicit/input/camry_rc/501_RIG_BAR_roof_crush_platen5.key
  examples/Implicit/input/camry_rc/Camry_RC_main.k
  examples/Implicit/input/camry_rc/roof_welds.k
  examples/Implicit/input/camry_rc/weld7.k
  examples/Implicit/input/camry_rc/xtra_sw.k
  examples/SALE/input/sale_efp/efpcase.k
  tests/testfiles/standard/dem.k
  tests/testfiles/standard/icfd.k
  tests/testfiles/standard/isph.k
  tests/testfiles/standard/sale.k
Labels: none

update test file and delete some useless files
  ansys/dyna/pre/dynabase.py
  examples/Airbag/input/airbag_deploy/airbag_deploy.k
  examples/Coupling/input/wing/fe-rig_mesh2.k
  examples/Coupling/input/wing/main.k
  examples/Coupling/input/wing/p22a-unts.k
  examples/EM/input/em_railgun/em_railgun.k
  examples/Explicit/input/belted_dummy/belted_dummy.k
  examples/ICFD/input/icfd_cylinderflow/mesh.k
  examples/IGA/input/iga_sample/maino.k
  examples/Implicit/input/camry_rc/501_RIG_BAR_roof_crush_platen5.key
  examples/Implicit/input/camry_rc/Camry_RC_main.k
  examples/Implicit/input/camry_rc/roof_welds.k
  examples/Implicit/input/camry_rc/weld7.k
  examples/Implicit/input/camry_rc/xtra_sw.k
  examples/SALE/input/sale_efp/efpcase.k
  tests/testfiles/standard/dem.k
  tests/testfiles/standard/icfd.k
  tests/testfiles/standard/isph.k
  tests/testfiles/standard/sale.k
Labels: none

update document for NVH
  ansys/dyna/pre/dynanvh.py
  doc/source/API/pre.rst
Labels: documentation

update document for NVH
  ansys/dyna/pre/dynanvh.py
  doc/source/API/pre.rst
Labels: documentation

add API for thermal analysis.
  ansys/dyna/pre/Server/kwprocess_pb2.py
  ansys/dyna/pre/Server/kwprocess_pb2_grpc.py
  ansys/dyna/pre/Server/kwserver.py
  ansys/dyna/pre/kwprocess_pb2.py
  ansys/dyna/pre/kwprocess_pb2_grpc.py
Labels: none

add API for thermal analysis.
  ansys/dyna/pre/Server/kwprocess_pb2.py
  ansys/dyna/pre/Server/kwprocess_pb2_grpc.py
  ansys/dyna/pre/Server/kwserver.py
  ansys/dyna/pre/kwprocess_pb2.py
  ansys/dyna/pre/kwprocess_pb2_grpc.py
Labels: none

remove the test example of solver
  ansys/dyna/pre/Server/kwserver.py
  ansys/dyna/pre/dynamaterial.py
  examples/solver/README.txt
Labels: none

remove the test example of solver
  ansys/dyna/pre/Server/kwserver.py
  ansys/dyna/pre/dynamaterial.py
  examples/solver/README.txt
Labels: none

Remove the package building step from the workflow.
  .github/workflows/ci_cd.yml
Labels: maintenance

Remove support for Python 3.6.
  .github/workflows/ci_cd.yml
  setup.py
Labels: maintenance

Remove support for Python 3.6.
  .github/workflows/ci_cd.yml
  setup.py
Labels: maintenance

Downgrade protobuf to 3.19.
  setup.py
Labels: maintenance
