Repository ansys/pydyna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
dependencies:
- pyproject.toml
testing:
- _unittest/conftest.py
- tests/*

fix: package registry
  docker/docker-compose.yml
Labels: none

fix: package registry
  docker/docker-compose.yml
Labels: none

CI: improve
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: improve
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: improve
  .github/workflows/ci_cd.yml
Labels: maintenance

delete server
  .github/workflows/ci_cd.yml
  src/ansys/dyna/core/pre/Server/Dockerfile
  src/ansys/dyna/core/pre/Server/__init__.py
  src/ansys/dyna/core/pre/Server/genpyprocs.bat
  src/ansys/dyna/core/pre/Server/kwprocess.proto
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/Server/readme_docker.txt
  src/ansys/dyna/core/pre/Server/zlib.dll
Labels: maintenance

delete server
  .github/workflows/ci_cd.yml
  src/ansys/dyna/core/pre/Server/Dockerfile
  src/ansys/dyna/core/pre/Server/__init__.py
  src/ansys/dyna/core/pre/Server/genpyprocs.bat
  src/ansys/dyna/core/pre/Server/kwprocess.proto
  src/ansys/dyna/core/pre/Server/kwprocess_pb2.py
  src/ansys/dyna/core/pre/Server/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/pre/Server/kwserver.py
  src/ansys/dyna/core/pre/Server/readme_docker.txt
  src/ansys/dyna/core/pre/Server/zlib.dll
Labels: maintenance

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

FIX: no support for 3.11 yet
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: improve workflow (#186)
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: improve workflow (#186)
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: docker-compose package reference
  src/ansys/dyna/core/solver/docker-compose.yml
Labels: none

fix: docker-compose package reference
  src/ansys/dyna/core/solver/docker-compose.yml
Labels: none

MAINT: bump version to v0.3.0
  pyproject.toml
Labels: maintenance, dependencies

MAINT: bump version to v0.3.0
  pyproject.toml
Labels: maintenance, dependencies

MAINT: Bump version to v0.3.0
  README.rst
Labels: documentation

MAINT: Bump version to v0.3.0
  README.rst
Labels: documentation

FIX: remove autogenerated gRPC files
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/solver/dynasolver_pb2.py
  src/ansys/dyna/core/solver/dynasolver_pb2_grpc.py
Labels: none

MAINT: add ansys-api-dyna as dep
  pyproject.toml
  src/ansys/dyna/core/__init__.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynasolution.py
  src/ansys/dyna/core/solver/dynasolver.py
Labels: maintenance, dependencies

Update pyproject.toml
  pyproject.toml
Labels: maintenance, dependencies

FIX: remove autogenerated gRPC files (#189)
  pyproject.toml
  src/ansys/dyna/core/__init__.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynasolution.py
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/solver/dynasolver.py
  src/ansys/dyna/core/solver/dynasolver_pb2.py
  src/ansys/dyna/core/solver/dynasolver_pb2_grpc.py
Labels: maintenance, dependencies

FIX: remove autogenerated gRPC files (#189)
  pyproject.toml
  src/ansys/dyna/core/__init__.py
  src/ansys/dyna/core/pre/dynabase.py
  src/ansys/dyna/core/pre/dynasolution.py
  src/ansys/dyna/core/pre/kwprocess_pb2.py
  src/ansys/dyna/core/pre/kwprocess_pb2_grpc.py
  src/ansys/dyna/core/solver/dynasolver.py
  src/ansys/dyna/core/solver/dynasolver_pb2.py
  src/ansys/dyna/core/solver/dynasolver_pb2_grpc.py
Labels: maintenance, dependencies

DOC: unify style
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

MAINT: pre-commit autoupdate
  .pre-commit-config.yaml
Labels: none

DOC: unify style
  ignore_words.txt
Labels: none

MAINT: add tox.ini file
  tox.ini
Labels: none

DOC: conditionally exclude examples and api
  .gitignore
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
Labels: documentation, maintenance, dependencies

DOC: implement autoapi
  doc/source/API/index.rst
  doc/source/API/pre.rst
  doc/source/API/solver.rst
  doc/source/_autoapi_templates/index.rst
  doc/source/_templates/autosummary/base.rst
  doc/source/_templates/autosummary/class.rst
  doc/source/_templates/custom-class-template.rst
  doc/source/_templates/custom-module-template.rst
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
Labels: documentation, maintenance, dependencies

DOC: remove Google style
  doc/styles/Google/AMPM.yml
  doc/styles/Google/Acronyms.yml
  doc/styles/Google/Colons.yml
  doc/styles/Google/Contractions.yml
  doc/styles/Google/DateFormat.yml
  doc/styles/Google/Ellipses.yml
  doc/styles/Google/EmDash.yml
  doc/styles/Google/EnDash.yml
  doc/styles/Google/Exclamation.yml
  doc/styles/Google/FirstPerson.yml
  doc/styles/Google/Gender.yml
  doc/styles/Google/GenderBias.yml
  doc/styles/Google/HeadingPunctuation.yml
  doc/styles/Google/Headings.yml
  doc/styles/Google/Latin.yml
  doc/styles/Google/LyHyphens.yml
  doc/styles/Google/OptionalPlurals.yml
  doc/styles/Google/Ordinal.yml
  doc/styles/Google/OxfordComma.yml
  doc/styles/Google/Parens.yml
  doc/styles/Google/Passive.yml
  doc/styles/Google/Periods.yml
  doc/styles/Google/Quotes.yml
  doc/styles/Google/Ranges.yml
  doc/styles/Google/Semicolons.yml
  doc/styles/Google/Slang.yml
  doc/styles/Google/Spacing.yml
  doc/styles/Google/Spelling.yml
  doc/styles/Google/Units.yml
  doc/styles/Google/We.yml
  doc/styles/Google/Will.yml
  doc/styles/Google/WordList.yml
  doc/styles/Google/meta.json
  doc/styles/Google/vocab.txt
Labels: none

DOC: remove batch file
  doc/create_documentation.bat
Labels: none

DOC: conditionally exclude sections
  doc/source/conf.py
Labels: documentation

FEAT: unify line lenght
  .flake8
Labels: maintenance

CI: drop 3.7 support
  .github/workflows/ci_cd.yml
Labels: maintenance

MAINT: add CODEOWNERS file
  .github/CODEOWNERS
Labels: maintenance

DOC: fix typo
  doc/source/Resources/Contributing.rst
Labels: documentation

FIX: add support for Python 3.11
  .github/workflows/ci_cd.yml
  tox.ini
Labels: maintenance

DBG: build essential
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: remove unnecessary gRPC tools
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance, dependencies

MAINT: remove all unnecessary deps
  pyproject.toml
Labels: maintenance, dependencies
