Repository ansys/pydyna, pull requests merged in 2024-11, with the labels that each got.

#550 add keyword lib
  .github/workflows/ci_cd.yml
  CONTRIBUTORS.md
  pyproject.toml
  pytest.ini
  src/ansys/dyna/core/__init__.py
  src/ansys/dyna/core/lib/__init__.py
  src/ansys/dyna/core/lib/array.py
  src/ansys/dyna/core/lib/card.py
  src/ansys/dyna/core/lib/card_interface.py
  src/ansys/dyna/core/lib/card_set.py
  src/ansys/dyna/core/lib/card_writer.py
  src/ansys/dyna/core/lib/cards.py
  src/ansys/dyna/core/lib/deck.py
  src/ansys/dyna/core/lib/deck_loader.py
  src/ansys/dyna/core/lib/deck_plotter.py
  src/ansys/dyna/core/lib/duplicate_card.py
  src/ansys/dyna/core/lib/duplicate_card_group.py
  src/ansys/dyna/core/lib/field.py
  src/ansys/dyna/core/lib/field_writer.py
  src/ansys/dyna/core/lib/format_type.py
  src/ansys/dyna/core/lib/io_utils.py
  src/ansys/dyna/core/lib/keyword_base.py
  src/ansys/dyna/core/lib/kwd_line_formatter.py
  src/ansys/dyna/core/lib/option_card.py
  src/ansys/dyna/core/lib/text_card.py
  src/ansys/dyna/core/lib/variable_card.py
  tests/conftest.py
  tests/test_card.py
  tests/test_duplicate_card.py
  tests/test_duplicate_card_group.py
  tests/test_field_writer.py
  tests/test_load_dataline.py
  tests/test_text_card.py
  tests/test_variable_card.py
  tests/testfiles/keywords/reference_string.py
Labels: testing, dependencies, maintenance

#558 fix: drop python 3.9
  .github/workflows/ci_cd.yml
  pyproject.toml
  tox.ini
Labels: bug, dependencies, maintenance

#562 add codegen test to ci
  .github/workflows/ci_cd.yml
  codegen/generate.py
Labels: maintenance

#563 add perf test
  .github/workflows/ci_cd.yml
  tests/test_perf.py
Labels: testing, maintenance

#565 fix codegen for wildcards
  codegen/additional-cards.json
  codegen/generate.py
  codegen/manifest.json
  src/ansys/dyna/core/keywords/keyword_classes/auto/constrained_nodal_rigid_body.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/contact_force_transducer.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/contact_force_transducer_constraint.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/contact_force_transducer_penalty.py
Labels: bug

#566 add keywords examples and doc
  doc/source/contributing.rst
  doc/source/getting-started/KEYWORDS_README.rst
  doc/source/getting-started/example1.rst
  doc/source/getting-started/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/keywords/Buckling_Beer_Can/README.rst
  examples/keywords/Buckling_Beer_Can/beercan.py
  examples/keywords/Buckling_Beer_Can/mesh.k
  examples/keywords/John_Reid_Pendulum/README.rst
  examples/keywords/John_Reid_Pendulum/nodes.k
  examples/keywords/John_Reid_Pendulum/plot_john_reid_pendulum.py
  examples/keywords/John_Reid_Pipe/README.rst
  examples/keywords/John_Reid_Pipe/nodes.k
  examples/keywords/John_Reid_Pipe/plot_john_pipe.py
  examples/keywords/README.rst
  examples/keywords/Taylor_Bar/README.rst
  examples/keywords/Taylor_Bar/plot_taylor_bar_example.py
  examples/keywords/Taylor_Bar/taylor_bar_mesh.k
Labels: documentation

#568 Docker run with dockerfile
  docker/run/Dockerfile
  docker/run/README.rst
  src/ansys/dyna/core/run/docker_runner.py
  src/ansys/dyna/core/run/local_solver.py
Labels: documentation, maintenance

#572 add workflow to publish run image
  .github/workflows/publish-run-image.yml
Labels: maintenance

#573 Fix docker build
  .github/workflows/publish-run-image.yml
Labels: bug, maintenance

#576 use run image
  .github/workflows/ci_cd.yml
Labels: maintenance

#578 fix permissions
  docker/run/Dockerfile
Labels: bug

#579 use run image for run test in ci/cd
  .github/workflows/ci_cd.yml
  tests/conftest.py
  tests/test_run.py
Labels: testing, maintenance

#580 Lightweight run image
  .github/workflows/ci_cd.yml
  .github/workflows/publish-run-image.yml
  docker/run/Dockerfile
Labels: maintenance

#612 add devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/welcome.rst
  tests/test_perf.py
Labels: testing

#614 fix: pyproject.toml metadata
  pyproject.toml
Labels: bug, dependencies, maintenance

#616 use dpf installation action rather than starting the dpf server
  .github/workflows/ci_cd.yml
  examples/Airbag/airbag_post.py
Labels: maintenance

#613 feat: changelog actions
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  CHANGELOG.md
  doc/changelog/613.added.md
  doc/changelog/template
  doc/source/changelog.rst
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
Labels: documentation, enhancement, testing, dependencies, maintenance

#624 fix: make pr-check-title independent
  .github/workflows/ci_cd.yml
  doc/changelog/624.miscellaneous.md
Labels: bug, documentation, maintenance

#626 build: allow Numpy 1.X
  doc/changelog/626.documentation.md
  pyproject.toml
Labels: documentation, dependencies, maintenance
