Repository ansys/pydyna, pull requests merged in 2024-01, with the labels that each got.

#349 maint: update main Python version
  .github/workflows/ci_cd.yml
Labels: maintenance

#351 feat: remove Python 3.8 support and add Python 3.12
  .github/workflows/ci_cd.yml
  doc/source/getting-started/index.rst
  docker/pre/Dockerfile
  pyproject.toml
  src/ansys/dyna/core/pre/dynalogging.py
  tox.ini
Labels: documentation, enhancement, dependencies, maintenance

#355 Zzqbranch
  doc/source/getting-started/SERVER_PRE_README.rst
  doc/source/getting-started/SERVER_SOLVER_README.rst
  doc/source/getting-started/example.rst
  doc/source/getting-started/index.rst
  src/ansys/dyna/core/pre/dynasolution.py
  src/ansys/dyna/core/pre/launcher.py
  src/ansys/dyna/core/solver/dynasolver.py
  src/ansys/dyna/core/solver/launcher.py
Labels: documentation
