Repository ansys/pydyna, pull requests merged in 2025-01, with the labels that each got.

#643 fix: reading *CONTROL_DEBUG
  doc/changelog/643.fixed.md
  src/ansys/dyna/core/lib/field_writer.py
  tests/test_deck.py
Labels: bug, documentation, testing

#645 feat: support 3.13
  .github/workflows/ci_cd.yml
  doc/changelog/645.documentation.md
  pyproject.toml
Labels: documentation, dependencies, maintenance

#647 fix: warn out of bounds characters when reading lines
  doc/changelog/647.miscellaneous.md
  src/ansys/dyna/core/lib/kwd_line_formatter.py
  tests/test_card.py
  tests/test_keywords.py
  tests/test_load_dataline.py
Labels: documentation, testing

#648 test: add test for deepcopy
  doc/changelog/648.miscellaneous.md
  tests/test_deck.py
Labels: documentation, testing

#632 fix: update launcher,add argument to define ansys version
  doc/changelog/632.documentation.md
  src/ansys/dyna/core/pre/launcher.py
  src/ansys/dyna/core/solver/dynasolver.py
  src/ansys/dyna/core/solver/launcher.py
Labels: documentation, dependencies, maintenance

#668 fix: Fix BOUNDARY_PRESCRIBED_MOTION and CONSTRAINED_BEAM_IN_SOLID
  codegen/generate.py
  codegen/manifest.json
  doc/changelog/668.fixed.md
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_edge_uvw.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_face_xyz.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_node.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_point_uvw.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_rigid.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_rigid_bndout2dynain.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_rigid_local.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_rigid_local_bndout2dynain.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_set.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_set_box.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_set_edge_uvw.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_set_face_xyz.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_set_line.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_set_point_uvw.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/constrained_beam_in_solid.py
  tests/test_keywords.py
  tests/testfiles/keywords/reference_string.py
Labels: bug, documentation, testing

#671 fix: Options api rework
  codegen/generate.py
  codegen/keyword_generation/__init__.py
  codegen/keyword_generation/handlers/handler_base.py
  codegen/keyword_generation/handlers/shared_field.py
  codegen/manifest.json
  codegen/templates/keyword/option_card_properties.j2
  doc/changelog/671.documentation.md
  src/ansys/dyna/core/keywords/keyword_classes/auto/constrained_beam_in_solid.py
  src/ansys/dyna/core/lib/cards.py
  src/ansys/dyna/core/lib/deck_loader.py
  src/ansys/dyna/core/lib/keyword_base.py
  src/ansys/dyna/core/lib/option_card.py
  tests/test_deck.py
  tests/test_keywords.py
  tests/test_option_card.py
  tests/testfiles/keywords/reference_string.py
Labels: documentation, testing
