Repository ansys/pydyna, pull requests merged in 2025-04, with the labels that each got.

#774 feat: remove pyvista hard dependency
  doc/changelog/774.fixed.md
  pyproject.toml
Labels: bug, documentation, dependencies, maintenance

#776 build: bump dev version after 0.8.0 release
  doc/changelog/776.miscellaneous.md
  pyproject.toml
Labels: documentation, dependencies, maintenance

#782 fix: Fix define table keyword
  codegen/README.md
  codegen/keyword_generation/generators/class_generator.py
  codegen/manifest.json
  doc/changelog/782.miscellaneous.md
  src/ansys/dyna/core/keywords/keyword_classes/auto/define_table.py
  tests/test_keywords.py
  tests/testfiles/keywords/reference_string.py
Labels: bug, documentation, testing

#790 docs: revert beer can buckling example
  .github/workflows/ci_cd.yml
  doc/changelog/790.documentation.md
  doc/source/conf.py
  examples/Buckling_Beer_Can/README.rst
  examples/Buckling_Beer_Can/plot_beercan.py
Labels: documentation, maintenance

#792 feat: general updates
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  doc/changelog/792.added.md
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/getting-started/index.rst
  doc/source/index.rst
  doc/source/user-guide/index.rst
  docker/pre/README.rst
  docker/run/README.rst
  docker/solver/README.rst
  pyproject.toml
Labels: documentation, enhancement, dependencies, maintenance, ci

#793 fix: add changelog fragments in PRs
  .github/workflows/ci_cd.yml
  doc/changelog/793.fixed.md
  doc/source/index.rst
Labels: documentation, maintenance, fix, ci

#796 fix: change example data url
  doc/changelog/796.fixed.md
  src/ansys/dyna/core/pre/examples/download_utilities.py
Labels: fix

#797 fix: hide some implementation from run package and migrate to theme autoapi
  .gitignore
  doc/Makefile
  doc/changelog/797.fixed.md
  doc/make.bat
  doc/source/_autoapi_templates/index.rst
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
  src/ansys/dyna/core/lib/deck.py
  src/ansys/dyna/core/lib/kwd_line_formatter.py
  src/ansys/dyna/core/lib/transform.py
  src/ansys/dyna/core/lib/transforms/utils/define_transformation.py
  src/ansys/dyna/core/pre/dynaem.py
  src/ansys/dyna/core/solver/dynasolver.py
Labels: documentation, dependencies, maintenance, fix
