Repository ansys/pydyna, pull requests merged in 2025-02, with the labels that each got.

#682 feat: Add .remove method to deck class (#681)
  doc/changelog/682.added.md
  src/ansys/dyna/core/lib/deck.py
  tests/test_deck.py
Labels: documentation, enhancement, testing

#697 fix: deck.expand() fixes
  doc/changelog/697.miscellaneous.md
  src/ansys/dyna/core/lib/deck.py
  tests/test_deck.py
  tests/testfiles/keywords/expand_test/bird_B.k
  tests/testfiles/keywords/expand_test/control_cards.k
  tests/testfiles/keywords/expand_test/fol/mesh.k
Labels: bug, documentation, testing

#699 fix: Support multiline include
  codegen/generate.py
  codegen/keyword_generation/handlers/external_card.py
  codegen/manifest.json
  codegen/templates/keyword.j2
  codegen/templates/keyword/card.j2
  codegen/templates/keyword/card_properties.j2
  doc/changelog/699.documentation.md
  src/ansys/dyna/core/keywords/keyword_classes/auto/include.py
  src/ansys/dyna/core/lib/cards_/__init__.py
  src/ansys/dyna/core/lib/cards_/special/__init__.py
  src/ansys/dyna/core/lib/cards_/special/include_card.py
  src/ansys/dyna/core/lib/keyword_base.py
  tests/test_keywords.py
  tests/testfiles/keywords/reference_string.py
Labels: documentation, testing

#701 fix: BOUNDARY_PRESCRIBED_MOTION_*_ID option and CONTROL_MPP_DECOMPOSITION_TRANSFORMATION (Issue #696)
  codegen/additional-cards.json
  codegen/manifest.json
  doc/changelog/701.added.md
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_node.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_rigid.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_rigid_bndout2dynain.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_rigid_local.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_rigid_local_bndout2dynain.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_set.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_prescribed_motion_set_segment.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_spc_node.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_spc_node_birth_death.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_spc_set.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_spc_set_birth_death.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/control_mpp_decomposition_transformation.py
  tests/test_keywords.py
  tests/testfiles/keywords/reference_string.py
Labels: bug, documentation, enhancement, testing

#702 fix: SET_PART_LIST_GENERATE
  codegen/generate.py
  codegen/manifest.json
  codegen/templates/keyword.j2
  doc/changelog/702.documentation.md
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_part_list_generate.py
  src/ansys/dyna/core/lib/field.py
  src/ansys/dyna/core/lib/field_writer.py
  src/ansys/dyna/core/lib/kwd_line_formatter.py
  src/ansys/dyna/core/lib/variable_card.py
  tests/test_deck.py
  tests/test_field_writer.py
  tests/test_keywords.py
  tests/test_load_dataline.py
  tests/test_variable_card.py
  tests/testfiles/keywords/expand_test/control_cards.k
  tests/testfiles/keywords/reference_string.py
Labels: documentation, testing

#704 chore: add dependabot groups
  .github/dependabot.yml
  doc/changelog/704.documentation.md
  pyproject.toml
Labels: documentation, dependencies, maintenance

#706 fix: Assign series card property
  codegen/templates/keyword/card_properties.j2
  doc/changelog/706.documentation.md
  src/ansys/dyna/core/keywords/keyword_classes/auto/initial_stress_shell.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mesh_embedshell.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mesh_volume.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/section_shell.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/section_solid.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/section_tshell.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_beam.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_beam_add.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_beam_intersect.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_box.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_node_add.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_node_intersect.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_node_list.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_part_add.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_part_list.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_part_list_collect.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_part_list_generate.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_segment_add.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_shell_add.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_shell_intersect.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_shell_list.py
  tests/test_keywords.py
Labels: documentation, testing

#709 feat: Start to handle *INCLUDE_TRANSFORM in Deck.expand()
  doc/changelog/709.miscellaneous.md
  src/ansys/dyna/core/lib/deck.py
  src/ansys/dyna/core/lib/deck_loader.py
  src/ansys/dyna/core/lib/import_handler.py
  src/ansys/dyna/core/lib/transform.py
  src/ansys/dyna/core/lib/transforms/__init__.py
  src/ansys/dyna/core/lib/transforms/base_transform.py
  src/ansys/dyna/core/lib/transforms/element_transform.py
  src/ansys/dyna/core/lib/transforms/node_transform.py
  test.py
  tests/test_deck.py
  tests/testfiles/keywords/transform/test.k
Labels: documentation, testing

#708 fix: Mat 196 (#707)
  codegen/manifest.json
  doc/changelog/708.added.md
  src/ansys/dyna/core/keywords/keyword_classes/auto/mat_196.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mat_general_spring_discrete_beam.py
  src/ansys/dyna/core/keywords/keyword_classes/auto_keywords.py
  tests/test_keywords.py
  tests/testfiles/keywords/reference_string.py
Labels: bug, documentation, enhancement, testing

#712 feat: Import encrypted file
  doc/changelog/712.miscellaneous.md
  src/ansys/dyna/core/lib/deck.py
  src/ansys/dyna/core/lib/deck_loader.py
  src/ansys/dyna/core/lib/encrypted_keyword.py
  src/ansys/dyna/core/lib/transform.py
  tests/test_deck.py
  tests/testfiles/keywords/test_input_deck_1_1024bit.asc
Labels: documentation, testing

#715 ci: use main version of the action for doc-style
  .github/workflows/ci_cd.yml
  doc/changelog/715.miscellaneous.md
Labels: documentation, maintenance

#718 feat: add active func to codegen for duplicate card group
  codegen/generate.py
  codegen/manifest.json
  codegen/templates/keyword/card.j2
  doc/changelog/718.miscellaneous.md
  src/ansys/dyna/core/keywords/keyword_classes/auto/constrained_nodal_rigid_body.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/control_mpp_decomposition_transformation.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/element_shell_thickness.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mat_196.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mat_295.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/part.py
Labels: documentation

#720 fix: deck.get() in the presence of Encrypted keywords
  doc/changelog/720.fixed.md
  src/ansys/dyna/core/lib/deck.py
  tests/test_deck.py
Labels: bug, documentation, testing

#725 fix: mat295 iso
  codegen/manifest.json
  doc/changelog/725.fixed.md
  src/ansys/dyna/core/keywords/keyword_classes/auto/mat_295.py
  src/ansys/dyna/core/lib/duplicate_card_group.py
  tests/test_keywords.py
  tests/testfiles/keywords/reference_string.py
Labels: bug, documentation, testing

#728 fix: Read parameters
  codegen/generate.py
  codegen/keyword_generation/handlers/series_card.py
  codegen/manifest.json
  doc/changelog/728.documentation.md
  src/ansys/dyna/core/keywords/keyword_classes/auto/include_path.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/parameter.py
  src/ansys/dyna/core/lib/card.py
  src/ansys/dyna/core/lib/card_interface.py
  src/ansys/dyna/core/lib/card_set.py
  src/ansys/dyna/core/lib/cards.py
  src/ansys/dyna/core/lib/deck.py
  src/ansys/dyna/core/lib/duplicate_card.py
  src/ansys/dyna/core/lib/duplicate_card_group.py
  src/ansys/dyna/core/lib/import_handler.py
  src/ansys/dyna/core/lib/keyword_base.py
  src/ansys/dyna/core/lib/kwd_line_formatter.py
  src/ansys/dyna/core/lib/option_card.py
  src/ansys/dyna/core/lib/parameters.py
  src/ansys/dyna/core/lib/series_card.py
  src/ansys/dyna/core/lib/text_card.py
  src/ansys/dyna/core/lib/transform.py
  tests/test_card.py
  tests/test_deck.py
  tests/test_load_dataline.py
  tests/testfiles/keywords/reference_string.py
Labels: documentation, testing

#729 fix: add test scenario for bug 584
  doc/changelog/729.documentation.md
  tests/test_keywords.py
  tests/testfiles/keywords/reference_string.py
Labels: documentation, testing

#731 fix: Default duplicate card
  codegen/templates/keyword/card.j2
  doc/changelog/731.miscellaneous.md
  src/ansys/dyna/core/keywords/keyword_classes/auto/boundary_spc_node.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/constrained_adaptivity.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/define_curve.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/define_sd_orientation.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/define_transformation.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/element_beam.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/element_discrete.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/element_shell.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/icfd_boundary_freeslip.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/icfd_boundary_fsi.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/icfd_boundary_fsi_exclude.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/icfd_boundary_nonslip.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/icfd_boundary_prescribed_pre.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/icfd_database_flux.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/icfd_part.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/icfd_part_vol.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/initial_strain_shell.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/load_node_point.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mat_077_h.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mat_077_o.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mat_124.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mat_181.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mat_simplified_rubber_foam_log_log_interpolation.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mat_simplified_rubber_foam_log_log_interpolation_with_failure.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mat_simplified_rubber_foam_with_failure.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mat_simplified_rubber_foam_with_failure_log_log_interpolation.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mesh_node.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mesh_surface_element.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/mesh_surface_node.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/node.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/parameter_expression.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/parameter_expression_local.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/parameter_local.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/section_shell.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/section_solid.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/set_segment.py
  src/ansys/dyna/core/lib/duplicate_card.py
  tests/test_duplicate_card.py
  tests/test_keywords.py
  tests/testfiles/keywords/reference_string.py
Labels: documentation, testing

#735 feat: get by subkeyword and add transform links
  .pre-commit-config.yaml
  codegen/README.md
  codegen/generate.py
  codegen/keyword_generation/generators/class_generator.py
  codegen/keyword_generation/generators/entrypoints_generator.py
  codegen/keyword_generation/handlers/card_set.py
  codegen/keyword_generation/handlers/insert_card.py
  codegen/keyword_generation/handlers/table_card_group.py
  codegen/templates/keyword.j2
  codegen/templates/keyword/links.j2
  doc/changelog/735.test.md
  src/ansys/dyna/core/keywords/keyword_classes/auto/include_transform.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/include_transform_binary.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/node_transform.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/part_duplicate.py
  src/ansys/dyna/core/lib/deck.py
  src/ansys/dyna/core/lib/keyword_base.py
  tests/test_deck.py
Labels: documentation, testing

#740 feat: begin to handle *DEFINE_TRANSFORMATION when expanding include decks
  doc/changelog/740.test.md
  pyproject.toml
  src/ansys/dyna/core/lib/transforms/node_transform.py
  src/ansys/dyna/core/lib/transforms/utils/__init__.py
  src/ansys/dyna/core/lib/transforms/utils/define_transformation.py
  tests/test_deck.py
  tests/test_transform.py
Labels: documentation, testing, dependencies, maintenance

#744 fix: Contact mpp fix
  doc/changelog/744.documentation.md
  src/ansys/dyna/core/lib/card.py
  src/ansys/dyna/core/lib/card_interface.py
  src/ansys/dyna/core/lib/card_set.py
  src/ansys/dyna/core/lib/cards.py
  src/ansys/dyna/core/lib/cards_/special/include_card.py
  src/ansys/dyna/core/lib/field.py
  src/ansys/dyna/core/lib/series_card.py
  src/ansys/dyna/core/lib/table_card.py
  src/ansys/dyna/core/lib/table_card_group.py
  src/ansys/dyna/core/lib/text_card.py
  src/ansys/dyna/core/lib/variable_card.py
  tests/test_keywords.py
  tests/testfiles/keywords/reference_string.py
Labels: documentation, testing

#745 feat: add api to get keyword names
  doc/changelog/745.documentation.md
  src/ansys/dyna/core/lib/deck.py
  tests/test_deck.py
Labels: documentation, testing

#748 chore: update version
  doc/changelog/748.documentation.md
  pyproject.toml
Labels: documentation, dependencies, maintenance

#751 fix: encrypted deck in expand
  doc/changelog/751.miscellaneous.md
  src/ansys/dyna/core/lib/transform.py
  tests/test_deck.py
Labels: bug, documentation, testing

#753 fix: try to detect encoding when expanding decks
  doc/changelog/753.miscellaneous.md
  pyproject.toml
  src/ansys/dyna/core/lib/deck.py
  tests/test_deck.py
  tests/testfiles/keywords/encoding_sample.k
Labels: documentation, testing, dependencies, maintenance

#755 fix: pass **args to plotter object
  doc/changelog/755.miscellaneous.md
  examples/John_Reid_Pipe/plot_john_pipe.py
  src/ansys/dyna/core/lib/deck_plotter.py
Labels: bug, documentation

#754 fix: handle initial_temperature_node/set correct with table-card
  codegen/manifest.json
  doc/changelog/754.fixed.md
  src/ansys/dyna/core/keywords/keyword_classes/auto/initial_temperature_node.py
  src/ansys/dyna/core/keywords/keyword_classes/auto/initial_temperature_set.py
  tests/test_keywords.py
  tests/testfiles/keywords/reference_string.py
Labels: bug, documentation, testing

#756 fix: try utf-8 before attempt encoding detection
  doc/changelog/756.miscellaneous.md
  src/ansys/dyna/core/lib/deck.py
Labels: documentation

#757 fix: remove print statement from test_initial_temperature
  doc/changelog/757.test.md
  tests/test_keywords.py
Labels: documentation, testing

#759 fix: issue reading series card with trailing whitespace
  doc/changelog/759.miscellaneous.md
  src/ansys/dyna/core/lib/series_card.py
  test.py
  tests/test_deck.py
  tests/test_keywords.py
  tests/test_series_card.py
  tests/testfiles/keywords/reference_string.py
Labels: bug, documentation, testing
