Repository ansys/pydyna, pull requests merged in 2025-05, with the labels that each got.

#801 feat: add windows exe parameter to run dyna
  doc/changelog/801.added.md
  src/ansys/dyna/core/run/windows_runner.py
Labels: enhancement

#802 docs: improve getting started documentation
  doc/changelog/802.documentation.md
  doc/source/getting-started.rst
  doc/source/getting-started/SERVER_PRE_README.rst
  doc/source/getting-started/SERVER_SOLVER_README.rst
  doc/source/getting-started/example.rst
  doc/source/getting-started/example1.rst
  doc/source/getting-started/installation.rst
  doc/source/getting-started/modules.rst
  doc/source/getting-started/modules/keywords.rst
  doc/source/getting-started/modules/run.rst
  doc/source/getting-started/modules/server.rst
  doc/source/index.rst
  docker/pre/README.rst
  docker/run/README.rst
  docker/solver/README.rst
Labels: documentation

#804 fix: The nan comparison in series card test
  doc/changelog/804.fixed.md
  tests/test_series_card.py
Labels: testing, fix

#814 feat: build docs in python 3.13
  .github/workflows/ci_cd.yml
  doc/changelog/814.added.md
Labels: enhancement, maintenance, ci

#820 feat: add autosummary using jinja to all auto keywords files
  .gitignore
  codegen/generate.py
  codegen/keyword_generation/generators/class_generator.py
  codegen/templates/autodoc_rst.jinja
  doc/changelog/820.added.md
  doc/source/_autosummary/index.rst
  doc/source/conf.py
  doc/source/index.rst
Labels: documentation, enhancement, maintenance, ci
